.title {
    color: white;
    text-align: center;
    font-family: bahnscrift;;
}

@font-face {
    font-family: bahnscrift;
    src: url(BAHNSCHRIFT.TTF);
}

.linkbutton {
    padding: 16px;
    background: none;
    border: none;
}

.header {
    color: white;
    background-image: url(prmtvebg.png);
}