.title {
    color: white;
    text-align: center;
    font-family: bahnscrift;;
}

@font-face {
    font-family: bahnscrift;
    src: url(BAHNSCHRIFT.TTF);
}

.linkbutton {
    background: none;
    border: none;
    height: 200;
    width: 200;
}

.header {
    color: white;
    background-image: url(prmtvebg.png);
}

.links2 {
    color:white;
    text-align: center;
}